<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2121c94d-cb0b-416d-b2d1-42bd35870e0e" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-bulleted-list color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="41191d50-92b9-4f87-b8bd-0d6c331f0275">titleBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6f0809a6-7d97-422b-a2bf-d7aec88df9c3" SortOrder="0">cardBlock2</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>