<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ce2de40-a711-4b26-92d4-d00191079543" Alias="standardPage" Level="1">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-article color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="432b58a8-01b7-47dc-8664-f72bf1045f66">heroBlock</Composition>
    </Compositions>
    <DefaultTemplate>StandardPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="658f2b91-f803-4aa4-90d0-47bc42a2d931">StandardPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>84f1a092-25d4-487d-b31b-5d17da0f7859</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>284a617f-d3fb-48d9-ab04-9553eadf9f16</Key>
      <Caption>Content</Caption>
      <Alias>content1</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>