<?xml version="1.0" encoding="utf-8"?>
<Macro Key="8f041c47-14a9-4bc7-9da6-c69c1d4267cf" Alias="Login" Level="0">
  <Name>Login</Name>
  <MacroSource>~/Views/MacroPartials/Login.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>