<?xml version="1.0" encoding="utf-8"?>
<Macro Key="358f9c3f-c6cc-467e-b59a-a0ea857ca8dc" Alias="Register" Level="0">
  <Name>Register</Name>
  <MacroSource>~/Views/MacroPartials/Register.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>