@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.RegisterLogin>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}

<section class="section">
    
    <div class="container" style="margin-top:80px!important;">
        
        <div class="col-md-3">
            <nav class "nav-bar nav-bar--list">
                
                @await Umbraco.RenderMacroAsync("Login")
            </nav>
            
        </div>
        <div class="col-md-9">
            
            <article>
                @await Umbraco.RenderMacroAsync("Register")
                
            </article>
        </div>
        
        
    </div>
    
    
    
</section>