<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb044cb4-64b2-4d08-ab71-945da850a69f" Alias="HomePage - CTA - Block" Level="1">
  <Info>
    <Name>HomePage - CTA - Block</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Call To Action",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>