<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2abcc287-10e2-4ce9-a0ba-6322f8d646e3" Alias="Home Page - Email Recipients - Repeatable textstrings" Level="1">
  <Info>
    <Name>Home Page - Email Recipients - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 4,
  "Minimum": 1
}]]></Config>
</DataType>