<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90792277-a7a4-4a40-8af2-d4ad8aecf979" Alias="HomePage - Repeatable textstrings" Level="1">
  <Info>
    <Name>HomePage - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 5,
  "Minimum": 1
}]]></Config>
</DataType>