<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b9aaa04-edad-4150-a512-29e5495f2655" Alias="20240512 093716" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T09:46:05</CreateDate>
    <NodeName Default="20240512 093716" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/akvjvg3n/20240512_093716.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>