<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7d1f7e1-accb-4b0c-895d-fe698c95b6be" Alias="20240512 093640" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T09:46:07</CreateDate>
    <NodeName Default="20240512 093640" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/251ndn4l/20240512_093640.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>