<?xml version="1.0" encoding="utf-8"?>
<Media Key="a66e0f6a-3af2-475f-91cd-908cb9ce1453" Alias="Anya Chernik Min" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnyaChernikMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-09T18:48:38</CreateDate>
    <NodeName Default="Anya Chernik Min" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nqhh3jxs/anya-chernik-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>