<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f6a86ce-2586-4ef8-b019-c23f62b36487" Alias="Anya Chernik Min (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AnyaChernikMin1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-11T09:00:53</CreateDate>
    <NodeName Default="Anya Chernik Min (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zcdgud2g/anya-chernik-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>