<?xml version="1.0" encoding="utf-8"?>
<Media Key="37deec2b-3616-4a1d-96f9-71fbf81a6fea" Alias="Anya Chernik Min" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnyaChernikMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-11T11:27:18</CreateDate>
    <NodeName Default="Anya Chernik Min" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fxwn2nyw/anya-chernik-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>