<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8fe5ded-41b5-4f54-8da7-32e6e902db48" Alias="Baby Bootie" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BabyBootie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-11T15:10:35</CreateDate>
    <NodeName Default="Baby Bootie" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3nop3wfv/baby-bootie.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>