<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7884b21-ab8e-4057-84de-9f693650a574" Alias="Baby Blanket" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BabyBlanket</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-11T15:56:17</CreateDate>
    <NodeName Default="Baby Blanket" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e3fjrv2o/baby-blanket.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>