<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1294f70-371a-442c-8b14-c7981ea0a90a" Alias="Baby Blanket" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BabyBlanket</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T11:40:44</CreateDate>
    <NodeName Default="Baby Blanket" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ozhdtqi0/baby-blanket.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>