<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d1ccce9-d0b0-4832-bb36-2a3b6e2172ca" Alias="Christmas Stocking" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChristmasStocking</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T12:15:33</CreateDate>
    <NodeName Default="Christmas Stocking" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/35gbzdnq/christmas-stocking.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>