<?xml version="1.0" encoding="utf-8"?>
<Media Key="f696d299-e7ca-442c-a88a-8d56fa141428" Alias="Crochet Bag" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CrochetBag</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T11:40:26</CreateDate>
    <NodeName Default="Crochet Bag" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t5jjn3wk/crochet-bag.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>