<?xml version="1.0" encoding="utf-8"?>
<Media Key="970b4321-2ef7-46e7-82fc-5a7e72c11a28" Alias="Crochet Bag" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/CrochetBag</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-11T07:05:36</CreateDate>
    <NodeName Default="Crochet Bag" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e3bbxf5x/crochet-bag.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>