<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fed236f-82b5-4134-b43e-7131fe8a7283" Alias="Crochet Bag (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/CrochetBag1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-11T11:32:57</CreateDate>
    <NodeName Default="Crochet Bag (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nerp0t3v/crochet-bag.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>