<?xml version="1.0" encoding="utf-8"?>
<Media Key="75547875-e9fb-4c3a-a426-7920c75febf6" Alias="Crosbodybagsmall" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Crosbodybagsmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-14T18:10:28</CreateDate>
    <NodeName Default="Crosbodybagsmall" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/on2fi3p1/crosbodybagsmall.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>