<?xml version="1.0" encoding="utf-8"?>
<Media Key="391eb891-c5e5-4d9e-8921-5ecbc212e81c" Alias="Cute Doll (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/CuteDoll1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-11T10:24:14</CreateDate>
    <NodeName Default="Cute Doll (1)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s42b2opf/cute-doll.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>