<?xml version="1.0" encoding="utf-8"?>
<Media Key="28cf54fc-2cdc-4e18-83c9-a1233d3590f7" Alias="File" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/File</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T10:51:55</CreateDate>
    <NodeName Default="File" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5jkm4kg2/file.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>