<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cf22a0f-ce9b-4de5-b7d0-d99c4ee41ab0" Alias="File2 Min" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/File2Min</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T10:06:04</CreateDate>
    <NodeName Default="File2 Min" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bevpe5e1/file2-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>