<?xml version="1.0" encoding="utf-8"?>
<Media Key="06a64ece-833a-4cee-902d-83b0b9fa17ac" Alias="File1 Min" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/File1Min</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T10:06:05</CreateDate>
    <NodeName Default="File1 Min" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zbhkmbr0/file1-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>