<?xml version="1.0" encoding="utf-8"?>
<Media Key="64553c5d-86f1-460b-ae82-c572d0810824" Alias="File1 Min Sm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/File1MinSm</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T10:45:28</CreateDate>
    <NodeName Default="File1 Min Sm" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lm4fkzhr/file1-min-sm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>