<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcff3a80-9946-4217-b014-da8b9b2bb373" Alias="File2 Min Sm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/File2MinSm</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T10:45:26</CreateDate>
    <NodeName Default="File2 Min Sm" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qy3p5pcg/file2-min-sm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>