<?xml version="1.0" encoding="utf-8"?>
<Media Key="5583ec32-e072-482f-a46e-caf9744c5a2a" Alias="File5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/File5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T11:19:24</CreateDate>
    <NodeName Default="File5" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gtwigvls/file5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>