<?xml version="1.0" encoding="utf-8"?>
<Media Key="82ccdfc2-296f-459f-954e-8f6b069008e5" Alias="Giulia Bertelli Min" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GiuliaBertelliMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-07T20:05:38</CreateDate>
    <NodeName Default="Giulia Bertelli Min" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ytpnzatp/giulia-bertelli-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>