<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e2240da-a008-41cd-a35d-530266b2e295" Alias="Grannycrochetbagsmall" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Grannycrochetbagsmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-14T18:08:20</CreateDate>
    <NodeName Default="Grannycrochetbagsmall" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1racfdqi/grannycrochetbagsmall.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>