<?xml version="1.0" encoding="utf-8"?>
<Media Key="13223f06-3fa2-416c-981d-ef16afb2dc71" Alias="Hweb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hweb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T12:23:11</CreateDate>
    <NodeName Default="Hweb" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aa5dee3c/hweb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>