<?xml version="1.0" encoding="utf-8"?>
<Media Key="e64ba6db-1b80-47dd-81ed-cefbeabcf0fe" Alias="Image Min Sm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImageMinSm</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-12T10:45:27</CreateDate>
    <NodeName Default="Image Min Sm" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1wtexzua/image-min-sm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>