<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef0b1da0-bb0c-4c73-9765-4d628bdf0a3f" Alias="IMG 20240511 084132 997" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG20240511084132997</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-11T11:54:43</CreateDate>
    <NodeName Default="IMG 20240511 084132 997" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uyobx1ym/img_20240511_084132_997.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>