<?xml version="1.0" encoding="utf-8"?>
<Media Key="be59a408-a9de-415c-96a8-cd48419db507" Alias="Octopussmall" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Octopussmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-14T18:12:11</CreateDate>
    <NodeName Default="Octopussmall" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b0sftpw4/octopussmall.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>