<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebc741f2-c996-40ed-a2d3-6e318eee9643" Alias="Octopus (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Octopus1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-11T12:38:55</CreateDate>
    <NodeName Default="Octopus (1)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4ranp02w/octopus.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>