<?xml version="1.0" encoding="utf-8"?>
<Media Key="d92e2592-a045-48bc-825d-17e10fdf3a66" Alias="Photos 001" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Photos001</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-05-12T09:46:09</CreateDate>
    <NodeName Default="Photos 001" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/risd3wkf/photos-001.zip]]></Value>
    </umbracoFile>
  </Properties>
</Media>