<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c55ea0e-a05f-4e60-9992-862647a96910" Alias="Baby Booties" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/BabyBooties</Path>
    <Trashed>false</Trashed>
    <ContentType>cardBlock2</ContentType>
    <CreateDate>2024-05-11T14:12:28</CreateDate>
    <NodeName Default="Baby Booties" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[web]]></Value>
    </category>
    <description>
      <Value><![CDATA[{
  "markup": "<p>These are baby booties</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <folioLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/d8fe5ded41b54f548da732e6e902db48"
  }
]]]></Value>
    </folioLink>
    <headline>
      <Value><![CDATA[Baby Booties]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "36529b7a-25e3-4555-93e1-41f21c2ab4db",
    "mediaKey": "d8fe5ded-41b5-4f54-8da7-32e6e902db48"
  }
]]]></Value>
    </image>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/d8fe5ded41b54f548da732e6e902db48"
  }
]]]></Value>
    </imageLink>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>What is Lorem Ipsum?</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>