<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c55ea0e-a05f-4e60-9992-862647a96910" Alias="Baby Booties" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/BabyBooties</Path>
    <Trashed>false</Trashed>
    <ContentType>productBlock</ContentType>
    <CreateDate>2024-05-11T14:12:28</CreateDate>
    <NodeName Default="Baby Booties" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[web]]></Value>
    </category>
    <detailDescription>
      <Value><![CDATA[{
  "markup": "<p>Every little step deserves a touch of magic! These&nbsp;<strong>handcrafted crochet baby booties</strong> bring warmth, comfort, and undeniable charm to the tiniest toes. Thoughtfully stitched with love and care, they’re more than just footwear—they’re a <strong>precious keepsake</strong> for your little one.</p>\n<p><span>👣 <strong>Why You'll Adore Them:</strong> ✔️ <strong>Soft &amp; Cozy</strong> – Gentle on delicate baby feet, perfect for everyday wear. ✔️ <strong>Handmade Elegance</strong> – Every stitch is a testament to craftsmanship and affection. ✔️ <strong>Beautifully Lined</strong> – Extra softness for warmth, comfort, and durability. ✔️ <strong>A Cherished Gift</strong> – Ideal for baby showers, newborn photoshoots, or as a heartfelt heirloom.</span></p>\n<p>Because some gifts aren’t just made with yarn—they’re <strong>woven with love.</strong> 💕</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailDescription>
    <detailHeading>
      <Value><![CDATA[🍼 Handmade Crochet Baby Booties – Tiny Feet, Endless Love]]></Value>
    </detailHeading>
    <detailLink>
      <Value><![CDATA[[
  {
    "udi": "umb://document/f2dca66518be4757b0cd588edf3f7491"
  }
]]]></Value>
    </detailLink>
    <detailSummary>
      <Value><![CDATA[{
  "markup": "<ul>\n<li><strong>Category</strong>: Web design</li>\n<li><strong>Client</strong>: ASU Company</li>\n<li><strong>Project date</strong>: 01 March, 2020</li>\n<li><strong>Project URL</strong>:&nbsp;<a href=\"#\">www.example.com</a></li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailSummary>
    <headline>
      <Value><![CDATA[Baby Booties]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "8cc41814-b3cd-48fc-93f6-55e9e50f0954",
    "mediaKey": "db8fc3b4-8b7c-4533-820e-60019d8c524d"
  }
]]]></Value>
    </image>
    <imageCarousel>
      <Value><![CDATA[[
  {
    "key": "2ccc9b2e-423c-4f48-9d3f-fd7f30ca96f5",
    "mediaKey": "2a9ff25c-99a7-4c24-9548-3446253c6875"
  }
]]]></Value>
    </imageCarousel>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/d8fe5ded41b54f548da732e6e902db48"
  }
]]]></Value>
    </imageLink>
    <projectTitle>
      <Value><![CDATA[Baby Bootie Project]]></Value>
    </projectTitle>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>What is Lorem Ipsum?</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>