<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8556f40-f884-455d-95a2-33842c7deb68" Alias="Crazy Bag" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/CrazyBag</Path>
    <Trashed>false</Trashed>
    <ContentType>cardBlock2</ContentType>
    <CreateDate>2024-05-11T14:16:55</CreateDate>
    <NodeName Default="Crazy Bag" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[app]]></Value>
    </category>
    <description>
      <Value><![CDATA[{
  "markup": "<p>This is a crazy crochet bag</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <folioLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/4fed236f82b54134b43e7131fe8a7283"
  }
]]]></Value>
    </folioLink>
    <headline>
      <Value><![CDATA[Crazy Bag]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "67d3251f-966b-4d79-8671-0347d7a7eef2",
    "mediaKey": "4fed236f-82b5-4134-b43e-7131fe8a7283"
  }
]]]></Value>
    </image>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/4fed236f82b54134b43e7131fe8a7283"
  }
]]]></Value>
    </imageLink>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>Get this for a crackin night out</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>