<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bbc3695-a02b-420a-a267-a7888f87a4ea" Alias="Crochet Style Bag" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/CrochetStyleBag</Path>
    <Trashed>false</Trashed>
    <ContentType>productBlock</ContentType>
    <CreateDate>2024-05-11T16:29:34</CreateDate>
    <NodeName Default="Crochet Style Bag" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[card]]></Value>
    </category>
    <detailDescription>
      <Value><![CDATA[{
  "markup": "<p>Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailDescription>
    <detailHeading>
      <Value><![CDATA[This is an example of portfolio detail]]></Value>
    </detailHeading>
    <detailLink>
      <Value><![CDATA[[
  {
    "udi": "umb://document/f2dca66518be4757b0cd588edf3f7491",
    "queryString": ""
  }
]]]></Value>
    </detailLink>
    <detailSummary>
      <Value><![CDATA[{
  "markup": "<ul>\n<li><strong>Category</strong>: Web design</li>\n<li><strong>Client</strong>: ASU Company</li>\n<li><strong>Project date</strong>: 01 March, 2020</li>\n<li><strong>Project URL</strong>:&nbsp;<a href=\"#\">www.example.com</a></li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailSummary>
    <headline>
      <Value><![CDATA[Crochet Style Bag]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "4d4fe92e-6c05-4d4c-bdb0-acebbff7d533",
    "mediaKey": "ef0b1da0-bb0c-4c73-9765-4d628bdf0a3f",
    "focalPoint": {
      "left": 0.4141304347826087,
      "top": 0.763768115942029
    }
  }
]]]></Value>
    </image>
    <imageCarousel>
      <Value><![CDATA[[
  {
    "key": "03e2ebf3-1e2e-41c7-bb10-6d6df0eb362b",
    "mediaKey": "ef0b1da0-bb0c-4c73-9765-4d628bdf0a3f"
  },
  {
    "key": "c7a83c29-99f2-4f01-bb81-a548fb90bfbb",
    "mediaKey": "ef0b1da0-bb0c-4c73-9765-4d628bdf0a3f"
  },
  {
    "key": "5ccb9c85-a01a-4d10-95f6-9f3345d05c55",
    "mediaKey": "ef0b1da0-bb0c-4c73-9765-4d628bdf0a3f"
  }
]]]></Value>
    </imageCarousel>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/ef0b1da0bb0c4c7397654d628bdf0a3f"
  }
]]]></Value>
    </imageLink>
    <projectTitle>
      <Value><![CDATA[Project information]]></Value>
    </projectTitle>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>style and finesse</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>