<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bbc3695-a02b-420a-a267-a7888f87a4ea" Alias="Crochet crossbody bag" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/CrochetCrossbodyBag</Path>
    <Trashed>false</Trashed>
    <ContentType>productBlock</ContentType>
    <CreateDate>2024-05-11T16:29:34</CreateDate>
    <NodeName Default="Crochet crossbody bag" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[accessories]]></Value>
    </category>
    <detailDescription>
      <Value><![CDATA[{
  "markup": "<p>Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailDescription>
    <detailHeading>
      <Value><![CDATA[Bag Projects]]></Value>
    </detailHeading>
    <detailLink>
      <Value><![CDATA[[
  {
    "udi": "umb://document/f2dca66518be4757b0cd588edf3f7491",
    "queryString": ""
  }
]]]></Value>
    </detailLink>
    <detailSummary>
      <Value><![CDATA[{
  "markup": "<ul>\n<li><strong>Category</strong>: Accessories</li>\n<li><strong>Client</strong>: Holidaymakers</li>\n<li><strong>Project date</strong>: 01 March, 2020</li>\n<li><strong>Project URL</strong>:&nbsp;<a href=\"#\">www.example.com</a></li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailSummary>
    <headline>
      <Value><![CDATA[Crochet crossbody bag]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "14167ab5-4637-45b3-a319-42c78a95a0e1",
    "mediaKey": "75547875-e9fb-4c3a-a426-7920c75febf6"
  }
]]]></Value>
    </image>
    <imageCarousel>
      <Value><![CDATA[[
  {
    "key": "96987512-6a98-49a8-bb04-a3ae79ba538e",
    "mediaKey": "bcff3a80-9946-4217-b014-da8b9b2bb373"
  },
  {
    "key": "51c45378-39f1-46ad-8038-7e22c6202ac2",
    "mediaKey": "e64ba6db-1b80-47dd-81ed-cefbeabcf0fe"
  },
  {
    "key": "83d9b5ff-48c1-406c-81dc-9a1d4d5b9d87",
    "mediaKey": "64553c5d-86f1-460b-ae82-c572d0810824"
  }
]]]></Value>
    </imageCarousel>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/e64ba6db1b8047dd81edcefbeabcf0fe"
  }
]]]></Value>
    </imageLink>
    <projectTitle>
      <Value><![CDATA[Crochet crossbody bag]]></Value>
    </projectTitle>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>style and finesse</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>