<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bbc3695-a02b-420a-a267-a7888f87a4ea" Alias="Crochet Style Bag" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/CrochetStyleBag</Path>
    <Trashed>false</Trashed>
    <ContentType>productBlock</ContentType>
    <CreateDate>2024-05-11T16:29:34</CreateDate>
    <NodeName Default="Crochet Style Bag" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[card]]></Value>
    </category>
    <description>
      <Value><![CDATA[{
  "markup": "<p>Over shoulder casual accessory</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <folioLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/ef0b1da0bb0c4c7397654d628bdf0a3f"
  }
]]]></Value>
    </folioLink>
    <headline>
      <Value><![CDATA[Crochet Style Bag]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "4d4fe92e-6c05-4d4c-bdb0-acebbff7d533",
    "mediaKey": "ef0b1da0-bb0c-4c73-9765-4d628bdf0a3f"
  }
]]]></Value>
    </image>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/ef0b1da0bb0c4c7397654d628bdf0a3f"
  }
]]]></Value>
    </imageLink>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>style and finesse</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>