<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dc5e17c-2a69-4b64-b149-015b91d80ed8" Alias="Cute Doll" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/CuteDoll</Path>
    <Trashed>false</Trashed>
    <ContentType>productBlock</ContentType>
    <CreateDate>2024-05-11T15:31:08</CreateDate>
    <NodeName Default="Cute Doll" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[card]]></Value>
    </category>
    <description>
      <Value><![CDATA[{
  "markup": "<p>Crocheted doll with individual garments</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <folioLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/391eb891c5e54d9e89215ecbc212e81c"
  }
]]]></Value>
    </folioLink>
    <headline>
      <Value><![CDATA[Cute Doll]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "e7f52d56-d1dd-4452-9834-05ac4ae43fc5",
    "mediaKey": "391eb891-c5e5-4d9e-8921-5ecbc212e81c"
  }
]]]></Value>
    </image>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/391eb891c5e54d9e89215ecbc212e81c"
  }
]]]></Value>
    </imageLink>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>treat someone special</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>