<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dc5e17c-2a69-4b64-b149-015b91d80ed8" Alias="Cute Doll" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/CuteDoll</Path>
    <Trashed>false</Trashed>
    <ContentType>productBlock</ContentType>
    <CreateDate>2024-05-11T15:31:08</CreateDate>
    <NodeName Default="Cute Doll" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[card]]></Value>
    </category>
    <detailDescription>
      <Value><![CDATA[{
  "markup": "<p>Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailDescription>
    <detailHeading>
      <Value><![CDATA[Portfolio Item]]></Value>
    </detailHeading>
    <detailLink>
      <Value><![CDATA[[
  {
    "udi": "umb://document/f2dca66518be4757b0cd588edf3f7491"
  }
]]]></Value>
    </detailLink>
    <detailSummary>
      <Value><![CDATA[{
  "markup": "<ul>\n<li><strong>Category</strong>: Web design</li>\n<li><strong>Client</strong>: ASU Company</li>\n<li><strong>Project date</strong>: 01 March, 2020</li>\n<li><strong>Project URL</strong>:&nbsp;<a href=\"#\">www.example.com</a></li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailSummary>
    <headline>
      <Value><![CDATA[Cute Doll ]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "d7193b49-0c06-4152-b729-0dc7a19c35cd",
    "mediaKey": "55b038ba-7c9f-4f1c-8be6-d35a63d97d90",
    "focalPoint": {
      "left": 0.5488496300557749,
      "top": 0.21633092400576417
    }
  }
]]]></Value>
    </image>
    <imageCarousel>
      <Value><![CDATA[[
  {
    "key": "c34f307f-416e-4286-a7db-710d3149b32f",
    "mediaKey": "55b038ba-7c9f-4f1c-8be6-d35a63d97d90"
  }
]]]></Value>
    </imageCarousel>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/391eb891c5e54d9e89215ecbc212e81c"
  }
]]]></Value>
    </imageLink>
    <projectTitle>
      <Value><![CDATA[Cute Doll]]></Value>
    </projectTitle>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>treat someone special</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>