<?xml version="1.0" encoding="utf-8"?>
<Content Key="51cb6d2e-375a-4668-b5dc-63a48fbb48c3" Alias="Email" Level="2">
  <Info>
    <Parent Key="5811ac03-95d0-4b7a-ac14-8910806ca28a">Welcome</Parent>
    <Path>/Welcome/Email</Path>
    <Trashed>false</Trashed>
    <ContentType>emailPage</ContentType>
    <CreateDate>2024-05-16T13:59:43</CreateDate>
    <NodeName Default="Email" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="947ef2e5-147b-4d4e-a4c4-393870b2766b">EmailPage</Template>
  </Info>
  <Properties>
    <message>
      <Value><![CDATA[{
  "markup": "<p>Message</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </message>
    <pageTitle>
      <Value><![CDATA[Email Page]]></Value>
    </pageTitle>
    <to>
      <Value><![CDATA[babatoobins@spooch.co.uk]]></Value>
    </to>
  </Properties>
</Content>