<?xml version="1.0" encoding="utf-8"?>
<Content Key="217784cd-e043-484f-a832-dfeb1a6fe0d8" Alias="Halloween Toy" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/HalloweenToy</Path>
    <Trashed>false</Trashed>
    <ContentType>productBlock</ContentType>
    <CreateDate>2024-05-12T12:23:12</CreateDate>
    <NodeName Default="Halloween Toy" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[web]]></Value>
    </category>
    <detailDescription>
      <Value><![CDATA[{
  "markup": "<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of \"de Finibus Bonorum et Malorum\" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, \"Lorem ipsum dolor sit amet..\", comes from a line in section 1.10.32.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailDescription>
    <detailHeading>
      <Value><![CDATA[Halloween Project Ideas]]></Value>
    </detailHeading>
    <detailLink>
      <Value><![CDATA[[
  {
    "udi": "umb://document/f2dca66518be4757b0cd588edf3f7491"
  }
]]]></Value>
    </detailLink>
    <detailSummary>
      <Value><![CDATA[{
  "markup": "<ul>\n<li><strong>Category</strong>: Web design</li>\n<li><strong>Client</strong>: ASU Company</li>\n<li><strong>Project date</strong>: 01 March, 2020</li>\n<li><strong>Project URL</strong>:&nbsp;<a href=\"/product-page/?productId=1148\">www.example.com</a></li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailSummary>
    <headline>
      <Value><![CDATA[Halloween Toy]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "5189cb73-c7a3-4790-abd7-f9f0ce3370e3",
    "mediaKey": "13223f06-3fa2-416c-981d-ef16afb2dc71"
  }
]]]></Value>
    </image>
    <imageCarousel>
      <Value><![CDATA[[
  {
    "key": "8568a341-5545-45d7-9eae-6fd3af951f3e",
    "mediaKey": "13223f06-3fa2-416c-981d-ef16afb2dc71"
  }
]]]></Value>
    </imageCarousel>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/13223f063fa2416c981def16afb2dc71"
  }
]]]></Value>
    </imageLink>
    <projectTitle>
      <Value><![CDATA[Halloween Toy]]></Value>
    </projectTitle>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>get caught up</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>