<?xml version="1.0" encoding="utf-8"?>
<Content Key="998689ce-3fc0-4586-9733-0c62f17a040f" Alias="Octopus" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/Octopus</Path>
    <Trashed>false</Trashed>
    <ContentType>productBlock</ContentType>
    <CreateDate>2024-05-11T15:33:31</CreateDate>
    <NodeName Default="Octopus" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[app]]></Value>
    </category>
    <description>
      <Value><![CDATA[{
  "markup": "<p>Beautiful octopus in many colours</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <folioLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/ebc741f2c99640eda2d36e318eee9643"
  }
]]]></Value>
    </folioLink>
    <headline>
      <Value><![CDATA[Octopus]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "8cf2a462-e645-464d-a311-11595bc4caa2",
    "mediaKey": "ebc741f2-c996-40ed-a2d3-6e318eee9643"
  }
]]]></Value>
    </image>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/ebc741f2c99640eda2d36e318eee9643"
  }
]]]></Value>
    </imageLink>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>soft and cuddly</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>