<?xml version="1.0" encoding="utf-8"?>
<Content Key="e72ccda7-eabb-4513-8e9a-e68f2a0dba64" Alias="Pink Baby Blanket" Level="3">
  <Info>
    <Parent Key="35efa5b3-0aa6-44ac-afac-45b96818bcec">Products</Parent>
    <Path>/Welcome/Products/PinkBabyBlanket</Path>
    <Trashed>false</Trashed>
    <ContentType>productBlock</ContentType>
    <CreateDate>2024-05-11T20:38:10</CreateDate>
    <NodeName Default="Pink Baby Blanket" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[web]]></Value>
    </category>
    <detailDescription>
      <Value><![CDATA[{
  "markup": "<p>Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailDescription>
    <detailHeading>
      <Value><![CDATA[This is an example of portfolio detail]]></Value>
    </detailHeading>
    <detailLink>
      <Value><![CDATA[[
  {
    "udi": "umb://document/f2dca66518be4757b0cd588edf3f7491"
  }
]]]></Value>
    </detailLink>
    <detailSummary>
      <Value><![CDATA[{
  "markup": "<ul>\n<li><strong>Category</strong>: Web design</li>\n<li><strong>Client</strong>: ASU Company</li>\n<li><strong>Project date</strong>: 01 March, 2020</li>\n<li><strong>Project URL</strong>:&nbsp;<a href=\"#\">www.example.com</a></li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </detailSummary>
    <headline>
      <Value><![CDATA[Pink Baby Blanket]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "e39b0835-631b-43c4-ab43-9adf6a6a3749",
    "mediaKey": "7d30a809-6145-47e3-9da9-958b9d47df17"
  }
]]]></Value>
    </image>
    <imageCarousel>
      <Value><![CDATA[[
  {
    "key": "fc3c3d78-d497-4f0d-b9f6-d188fc3644ca",
    "mediaKey": "7d30a809-6145-47e3-9da9-958b9d47df17"
  },
  {
    "key": "88ae58b7-d533-4cb7-855f-e09fff2a5858",
    "mediaKey": "7d30a809-6145-47e3-9da9-958b9d47df17"
  }
]]]></Value>
    </imageCarousel>
    <imageLink>
      <Value><![CDATA[[
  {
    "udi": "umb://media/7d30a809614547e39da9958b9d47df17"
  }
]]]></Value>
    </imageLink>
    <projectTitle>
      <Value><![CDATA[Project information]]></Value>
    </projectTitle>
    <tagLine>
      <Value><![CDATA[{
  "markup": "<p>toasty&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </tagLine>
  </Properties>
</Content>