<?xml version="1.0" encoding="utf-8"?>
<Content Key="35efa5b3-0aa6-44ac-afac-45b96818bcec" Alias="Products" Level="2">
  <Info>
    <Parent Key="5811ac03-95d0-4b7a-ac14-8910806ca28a">Welcome</Parent>
    <Path>/Welcome/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2024-05-11T13:43:26</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[]]]></Value>
    </bannerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>