<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2dca665-18be-4757-b0cd-588edf3f7491" Alias="Product Page" Level="2">
  <Info>
    <Parent Key="5811ac03-95d0-4b7a-ac14-8910806ca28a">Welcome</Parent>
    <Path>/Welcome/ProductPage</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2024-05-07T14:42:58</CreateDate>
    <NodeName Default="Product Page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="658f2b91-f803-4aa4-90d0-47bc42a2d931">StandardPage</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "value": "f0d6c4",
  "label": "f0d6c4",
  "sortOrder": 4,
  "id": "5"
}]]></Value>
    </backgroundColor>
    <contrast>
      <Value><![CDATA[{
  "value": "ffffff",
  "label": "ffffff",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </contrast>
    <headline>
      <Value><![CDATA[Porfolio Details - breadcrumbs.....]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
  </Properties>
</Content>