<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0902410-7203-418e-9530-3404c3315823" Alias="Register" Level="2">
  <Info>
    <Parent Key="5811ac03-95d0-4b7a-ac14-8910806ca28a">Welcome</Parent>
    <Path>/Welcome/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>registerLogin</ContentType>
    <CreateDate>2024-05-16T13:12:26</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d0c6329d-c73e-4259-9b43-050b663f29b3">RegisterLogin</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"Login\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <pageTitle>
      <Value><![CDATA[Register]]></Value>
    </pageTitle>
  </Properties>
</Content>