<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2dca665-18be-4757-b0cd-588edf3f7491" Alias="Standard Page" Level="2">
  <Info>
    <Parent Key="5811ac03-95d0-4b7a-ac14-8910806ca28a">Welcome</Parent>
    <Path>/Welcome/StandardPage</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2024-05-07T14:42:58</CreateDate>
    <NodeName Default="Standard Page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="658f2b91-f803-4aa4-90d0-47bc42a2d931">StandardPage</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "value": "f0d6c4",
  "label": "f0d6c4",
  "sortOrder": 4,
  "id": "5"
}]]></Value>
    </backgroundColor>
    <bodyText>
      <Value><![CDATA[{
  "markup": "<h1>Lorem Ipsum</h1>\n<h4>\"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...\"</h4>\n<h5>\"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain...\"</h5>\n<hr>\n<div id=\"Content\">\n<div id=\"bannerL\"></div>\n<div id=\"bannerR\"></div>\n<div class=\"boxed\">\n<div id=\"lipsum\">\n<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu elementum nunc. Donec viverra pretium orci sit amet condimentum. Nulla ullamcorper lectus ut augue gravida, at porttitor tellus luctus. Morbi ornare odio at posuere fermentum. Nulla leo massa, aliquam nec augue quis, pharetra auctor odio. Aenean fringilla, purus eu euismod blandit, ligula neque scelerisque massa, non ornare arcu turpis non neque. Nulla sapien felis, fermentum at purus rutrum, dictum tempus justo. Curabitur euismod malesuada urna, vel porta lorem semper eget.</p>\n</div>\n</div>\n</div>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <contrast>
      <Value><![CDATA[{
  "value": "ffffff",
  "label": "ffffff",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </contrast>
    <headline>
      <Value><![CDATA[Standard Page]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
  </Properties>
</Content>