<?xml version="1.0" encoding="utf-8"?>
<Content Key="5811ac03-95d0-4b7a-ac14-8910806ca28a" Alias="Welcome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-05-07T12:04:23</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f41a0394-cf65-41f5-9926-1477c9e9edc6">HomePage</Template>
  </Info>
  <Properties>
    <aboutSubtitle>
      <Value><![CDATA[{
  "markup": "<p>Discover the Heart of Babatoobins - A Haven for Exquisite Crochet Creations</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </aboutSubtitle>
    <aboutText>
      <Value><![CDATA[At Babatoobins, we are more than just creators of exquisite crochet; we are weavers of stories, each stitch echoing a passion for craftsmanship. Our journey began with a vision to redefine the art of crochet, blending modern aesthetics with timeless elegance. What sets us apart is a commitment to quality, attention to detail, and a love for creating pieces that transcend trends. From cozy blankets to chic wearables, every Babatoobins creation is a testament to our dedication to crafting crochet masterpieces that enrich your moments and warm your memories. Join us in celebrating the art of handmade elegance with Babatoobins – where every creation is a tale of creativity, warmth, and enduring beauty.]]></Value>
    </aboutText>
    <aboutTitle>
      <Value><![CDATA[CRAFTING TIMELESS ELEGANCE]]></Value>
    </aboutTitle>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "c1c8ceb9-c2e0-40b9-b279-994da7507199",
    "mediaKey": "0f6a86ce-2586-4ef8-b019-c23f62b36487"
  }
]]]></Value>
    </bannerImage>
    <bulletPoints>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/89a643bf25a247ff971e15ad26a7b4ad"
      },
      {
        "contentUdi": "umb://element/fec03f92c0de4fdab8ca680c390fda02"
      },
      {
        "contentUdi": "umb://element/4149ae37d7634a2bb9d244bc71729fea"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "66f3da39-72a6-4bd7-9cd6-89ed16ea4eeb",
      "udi": "umb://element/89a643bf25a247ff971e15ad26a7b4ad",
      "Tagline": "Personalized Narratives:",
      "Text": "Every stitch tells a unique story at Babatoobins. Our personalized approach ensures that each crochet masterpiece is not just an accessory but a reflection of your individuality and taste."
    },
    {
      "contentTypeKey": "66f3da39-72a6-4bd7-9cd6-89ed16ea4eeb",
      "udi": "umb://element/fec03f92c0de4fdab8ca680c390fda02",
      "Tagline": "Timeless Aesthetics: ",
      "Text": "Experience the blend of modern sophistication and enduring charm in our crochet pieces, designed to stand the test of time and elevate your style."
    },
    {
      "contentTypeKey": "66f3da39-72a6-4bd7-9cd6-89ed16ea4eeb",
      "udi": "umb://element/4149ae37d7634a2bb9d244bc71729fea",
      "Tagline": "Artisan Excellence:",
      "Text": "Artisan Excellence: Immerse yourself in the unmatched craftsmanship of Babatoobins, where each creation is meticulously crafted by skilled artisans dedicated to perfection."
    }
  ],
  "settingsData": []
}]]></Value>
    </bulletPoints>
    <cTA>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/80ed037657854ce4bcd6a3da2e5d6365"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332",
      "udi": "umb://element/80ed037657854ce4bcd6a3da2e5d6365",
      "link": [
        {
          "name": "Our Range",
          "udi": "umb://document/5811ac0395d04b7aac148910806ca28a",
          "queryString": "#portfolio"
        }
      ],
      "backgroundImage": [
        {
          "key": "49229610-b9af-44e9-90aa-c887aab6e5ac",
          "mediaKey": "9fa1bbf0-9c62-425e-9d36-2ec2dae0eba2"
        }
      ],
      "headline": "Call To Action",
      "text": "Ready to turn your vision into reality? Dive into our portfolio to witness the depth of our creativity and expertise. Whether you're seeking design inspiration, exploring potential collaborations, or envisioning your next project, let our portfolio be your guide. Take the first step towards excellence – contact us today to bring your ideas to life. Your journey to extraordinary possibilities begins here!"
    }
  ],
  "settingsData": []
}]]></Value>
    </cTA>
    <portfolioItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9e16971765e446fb8a830875963b684b"
      },
      {
        "contentUdi": "umb://element/36f79df7d4b44fed935059e301c13446"
      },
      {
        "contentUdi": "umb://element/7aa4f2d50f8a413092df73e19dd6d765"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/9e16971765e446fb8a830875963b684b",
      "headline": "Cute Doll",
      "richText": {
        "markup": "<p>Treat Someone Special</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "8676933d-2ecb-4ba9-b1d4-c89007d62971",
          "mediaKey": "391eb891-c5e5-4d9e-8921-5ecbc212e81c"
        }
      ],
      "folioLink": [
        {
          "name": "88",
          "udi": "umb://document/5811ac0395d04b7aac148910806ca28a"
        }
      ],
      "imageLink": [
        {
          "name": "++",
          "udi": "umb://document/f2dca66518be4757b0cd588edf3f7491"
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/36f79df7d4b44fed935059e301c13446",
      "headline": "Crochet Bag",
      "richText": {
        "markup": "<p>WEB</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [],
      "folioLink": [
        {
          "name": "**",
          "udi": "umb://document/5811ac0395d04b7aac148910806ca28a"
        }
      ],
      "imageLink": [
        {
          "name": "++",
          "udi": "umb://document/f2dca66518be4757b0cd588edf3f7491"
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/7aa4f2d50f8a413092df73e19dd6d765",
      "headline": "Crossbody bag",
      "richText": {
        "markup": "<p>It's a bag</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [],
      "folioLink": [
        {
          "udi": "umb://media/677bbb2a8d274fdca59230a9caec1898"
        }
      ],
      "imageLink": [
        {
          "udi": "umb://media/677bbb2a8d274fdca59230a9caec1898"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </portfolioItems>
    <subtitle>
      <Value><![CDATA[ELEVATING VISIONS, CRAFTING EXCELLENCE: EXPLORE OUR PORTFOLIO.]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Your New Crochet Journey with Babatoobins]]></Value>
    </title>
  </Properties>
</Content>